services:
  postgres:
    image: postgres:14
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - /home/ashitoshpandey/Downloads/Docker/postgresql/pgdata:/var/lib/postgresql/data
    shm_size: '512mb'
    networks:
      - postgres-network

networks:
  postgres-network:
   name: postgres-network
   driver: bridge
