.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #fff;
  border-top: 1px solid #e5e5e5;
  font-size: 16px;
}

.left {
  color: #444;
}

.right a {
  color: #444;
  text-decoration: none;
  margin-left: 20px;
}
.footer-right a:hover {
  text-decoration: underline;
}

@media (max-width: 600px){
    .footer{
        flex-direction: column;
        text-align: center;
        gap:10px
    }

    .right a{
        margin-left:10px
    }
}