.container {
  max-width: 950px;
  margin: auto;
  padding: 25px;
}

/* Page Title */
.pageTitle {
  font-size: 28px;
  font-weight: 700;
}

.subtitle {
  color: #6b7280;
  margin-bottom: 25px;
}

/* Step Header */
.stepHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.stepLabel {
  font-weight: 600;
  margin-bottom: 6px;
}

.progressBar {
  width: 250px;
  height: 8px;
  background: #e5e7eb;
  border-radius: 20px;
}

.progressFill {
  height: 8px;
  background: #0f766e;
  border-radius: 20px;
}

.progressText {
  color: #6b7280;
  font-size: 14px;
}

/* Step Tabs */
.stepTabs {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.tab {
  padding: 10px 18px;
  border-radius: 10px;
  background: #f1f5f9;
  border: none;
  cursor: pointer;
}

.activeTab {
  background: #d1fae5;
  color: #065f46;
  border: 1px solid #10b981;
}

/* Section main title */
.sectionHeading {
  font-size: 20px;
  margin-bottom: 0;
}

.sectionDesc {
  color: #6b7280;
  margin-bottom: 20px;
}

/* Card */
.card {
  background: #fff;
  border: 1px solid #e5e7eb;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 25px;
}

/* Card titles */
.cardTitle {
  font-size: 18px;
  font-weight: 600;
}

.cardSubtitle {
  color: #6b7280;
  margin-bottom: 20px;
}

/* Grid styles */
.grid1 {
    display: flex;
    flex-direction: column;
  
  gap: 18px;
}
.grid2{
display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}
.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroupFull {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
}

input,
select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
}

textarea {
  padding: 10px;
  min-height: 90px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
}

/* Upload box */
.uploadBox {
  border: 2px dashed #cbd5e1;
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  cursor: pointer;
  background: #f8fafc;
}

.uploadInner {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.browse {
  color: #2563eb;
  cursor: pointer;
}

.muted {
  color: #94a3b8;
}

.hiddenInput {
  display: none;
}

/* BUTTONS */
.buttonRow {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 30px;
}

.primaryBtn {
  background: #0f766e;
  color: white;
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
}

.secondaryBtn {
  background: white;
  padding: 10px 18px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
}
