/* ---------------- Sidebar container ---------------- */
.sidebar {
  width: 200px;
  background: white;
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* ---------------- Menu title ---------------- */
.menuTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #1e293b;
}

/* ---------------- Main Menu ---------------- */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Normal top-level link */
.link {
  text-decoration: none;
  color: #1e293b;
  font-size: 16px;
  font-weight: 600;
  padding: 12px;
  display: block;
  border-radius: 12px;
  transition: background 0.2s ease, color 0.2s ease;
}

/* Hover on normal links */
.link:hover {
  background: #f2b827;
  color: #1e293b;
}

/* Active style for normal links */
.active {
  background: #e5e7eb;
  color: #1e293b;
}

/* ---------------- Parent Item (Dropdown Header) ---------------- */
.parentItem {
  /* background: #f5b400; */
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  color: #1e293b;
  transition: background 0.2s ease;
}

.parentItem:hover {
  background: #f8c73b;
}

/* ---------------- Submenu Container ---------------- */
.subMenu {
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* ---------------- Submenu Item ---------------- */
.subLink {
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 15px;
  text-decoration: none;
  color: #1e293b;
  font-weight: 500;
  display: block;
  transition: background 0.2s ease;
}

/* Submenu hover */
.subLink:hover {
  background: #f5b400;
  /* background: #fff; */
  color: #1e293b;
}

/* Active sub-link */
.subActive {
  background: #e5e7eb;
  color: #1e293b;
}
