/* Full Page Layout */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Body = Sidebar + Content */
.body {
  display: flex;
  flex: 1;
  background: #f8fafc;
}



/* Content Area */
.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  /* margin-left: 200px; Sidebar width */
}